* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$bg1: linear-gradient(135deg, #ffdb01 10%, #fc02e7 100%);
$bg2: #aaa;

$rotate: 45deg;
$ani-delay: 0.16s;

body {
  @extend %flex;
  min-height: 100vh;

  .frame {
    @extend %flex;
    position: relative;
    height: 40rem;
    width: 40rem;
    background: $bg1;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.753);

    &::before {
      position: absolute;
      text-align: center;
      content: "DAY 35 - LOADING";
      color: #fff;
      top: 2rem;
      font-size: 1.5rem;
      white-space: nowrap;
      z-index: 20;
      text-shadow: 0.1rem 0.1rem 0.3rem #000;
    }

    &::after{
      position: absolute;
      content: '';
      height: 30rem;
      width: 30rem;
      z-index: 2;
      border: .1rem solid #aaa;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
  }


    .spinning {
      position: absolute;
      @extend %flex;

      & div {
        transform-origin: 50% 50%;
        opacity: 0;
        filter: contrast(30);
        animation: spin 1.4s linear infinite;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 3rem;
          width: 1rem;
          height: 3rem;
          border-radius: 50%;
          background: #aaa;
        }

        @for $i from 0 through 10 {
          &:nth-child(#{$i + 1}) {
            transform: rotate($i * $rotate);
            animation-delay: ($i * $ani-delay);
          }
        }
      }
    }

    @keyframes spin {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        @for $i from 1 through 6 {
          #{100% / $i} {
            opacity: 0 / $i;
          }
        }
      }
    }
  }
}
