*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root,
html {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$bg: orangered;

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg;

  &::before {
    content: "DAY 86 - NEWTON'S CRADLE";
    font-size: 1.2rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    text-shadow: 0 0 0.5rem #000;
  }
}

.cradle {
  position: absolute;
  width: 20rem;
  height: 4rem;
  padding-top: 10rem;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 22rem;
    height: 1.2rem;
    top: -1rem;
    left: -1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 .3rem #000;
    background: linear-gradient(to bottom, #bdc3c7, #fff, rgba(0, 0, 0, 0.5));
  }

  .ball {
    position: relative;
    float: left;
    width: 4rem;
    height: 4rem;
    background: #fff;
    border-radius: 50%;
    transform-origin: 50% -10rem;
    box-shadow: .1rem 0 .3rem rgba(0, 0, 0, 0.8);
    background: linear-gradient(45deg, #bdc3c7, #fff, rgba(0, 0, 0, 0.5));

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 10rem;
      width: .1rem;
      top: -10rem;
      left: 2rem;
      background: linear-gradient(to bottom, #bdc3c7, #fff, rgba(0, 0, 0, 0.5));
    }
  }

  .ball-1 {
    animation: ball-1 0.8s ease-out infinite alternate;
  }

  .ball-5 {
    animation: ball-5 0.8s ease-out 0.8s infinite alternate;
  }
}

@keyframes ball-1 {
  0%,
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes ball-5 {
  0%,
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-30deg);
  }
}
