*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

$bg: rgb(0, 0, 255);
$pri-color: #000;
$sec-color: #fff;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg-bdr-style {
  background: $sec-color;
  border-width: 0.1rem;
  border-style: solid;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg;
  overflow: hidden;

  &::before {
    content: "DAY 97 - BRIAN & VINNY";
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  }
}

.brian {
  position: relative;
  height: 35rem;
  width: 15rem;
  top: 2rem;
  left: -5rem;
}

// brian's head
.head-container {
  position: relative;
  height: 11rem;
  width: 14rem;
}

.head {
  position: absolute;
  height: 12rem;
  width: 9rem;
  top: 0;
  left: 2rem;
  background: $sec-color;
  border: 0.1rem solid $pri-color;
  border-radius: 5rem 4rem 3rem 2rem;
}

.ear-l {
  position: relative;
  height: 4rem;
  width: 2.5rem;
  top: 1rem;
  left: 0.5rem;
  @extend %bg-bdr-style;
  border-radius: 3rem 3rem 0 0;
  border-color: $pri-color transparent transparent $pri-color;
  transform: rotate(15deg);

  &::after {
    position: absolute;
    content: "";
    height: 3rem;
    width: 3.2rem;
    top: 2.8rem;
    left: 0.15rem;
    @extend %bg-bdr-style;
    border-color: transparent $pri-color $pri-color $pri-color;
    border-radius: 0 0 1.3rem 1.3rem;
    transform: rotate(-15deg);
  }
}

.ear-r {
  position: absolute;
  content: "";
  width: 2rem;
  height: 2rem;
  top: 1.3rem;
  left: 9rem;
  @extend %bg-bdr-style;
  border-color: $pri-color $pri-color transparent transparent;
  border-radius: 1rem 0.5rem 0 0;
  transform: rotate(-15deg);
}

.mouth {
  position: relative;
  height: 6rem;
  width: 9rem;
  top: -1.2rem;
  left: 7.5rem;
  @extend %bg-bdr-style;
  border-color: $pri-color $pri-color $pri-color transparent;
  border-radius: 0 50% 50% 2.5rem;

  &::after {
    position: absolute;
    content: "";
    height: 4rem;
    width: 3rem;
    top: 2rem;
    left: 0;
    @extend %bg-bdr-style;
    border-color: transparent transparent transparent $pri-color;
    border-radius: 50%;
    transform: rotate(-45deg);
  }

  &::before {
    position: absolute;
    content: "";
    height: 2.5rem;
    width: 4rem;
    top: 4rem;
    left: -0.7rem;
    @extend %bg-bdr-style;
    border-color: transparent transparent $pri-color $pri-color;
    border-radius: 0 0 2rem 1rem;
    transform: rotate(15deg);
  }
}

.nose {
  position: absolute;
  height: 4rem;
  width: 3.5rem;
  background: $pri-color;
  border-radius: 50%;
  top: 3.8rem;
  left: 13rem;
}

.eyes {
  position: relative;
  height: 1.7rem;
  width: 2rem;
  border-radius: 50% 50% 0.5rem 0.5rem;
  @extend %bg-bdr-style;
  top: -8.7rem;
  left: 8.5rem;

  &::before {
    position: absolute;
    content: "";
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    @extend %bg-bdr-style;
    top: 0;
    left: -2.3rem;
  }
}

.pupil-1 {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  top: 0.5rem;
  left: 0.2rem;
  background: $pri-color;
  border-radius: 50%;

  &::before {
    position: absolute;
    content: "";
    height: 0.1rem;
    width: 1.8rem;
    left: 0.2rem;
    left: -0.2rem;
    background: $pri-color;
  }
}

.pupil-2 {
  @extend .pupil-1;
  left: -2rem;

  &::before {
    width: 2rem;
  }
}

.neck {
  position: relative;
  height: 2rem;
  width: 4.5rem;
  @extend %bg-bdr-style;
  background: none;
  border-color: transparent $pri-color $pri-color transparent;
  border-radius: 50%;
  top: -3rem;
  left: 6rem;

  &::before {
    position: absolute;
    content: "";
    height: 0.85rem;
    width: 1.5rem;
    @extend %bg-bdr-style;
    border-color: $pri-color transparent transparent $pri-color;
    background: none;
    top: -0.18rem;
    left: 3rem;
    transform: rotate(10deg);
  }

  &::after {
    position: absolute;
    content: "";
    height: 0.05rem;
    width: 0.5rem;
    background: $pri-color;
    top: -1rem;
    left: 0.8rem;
    transform: rotate(45deg);
  }
}

.belt {
  position: absolute;
  height: 2rem;
  width: 10rem;
  border-radius: 1rem 1rem 70% 70%;
  border-width: 0.28rem;
  border-style: solid;
  background-color: rgb(255, 0, 0);
  clip-path: polygon(
    6% 5%,
    0 32%,
    0 49%,
    3% 71%,
    32% 96%,
    67% 96%,
    92% 71%,
    92% 51%,
    92% 32%,
    92% 5%,
    64% 20%,
    34% 20%
  );
  top: 1.5rem;
  left: -4.5rem;
  z-index: 25;
}

.locket {
  position: absolute;
  height: 1.8rem;
  width: 1.2rem;
  border-radius: 50%;
  border: 0.1rem solid $pri-color;
  top: 4rem;
  clip-path: none;
  z-index: 25;
  background: rgb(255, 165, 0);

  &::after {
    position: absolute;
    content: "";
    height: 0.8rem;
    width: 0.1rem;
    background: $pri-color;
    top: -0.8rem;
    left: 0.5rem;
  }

  &::before {
    position: absolute;
    content: "";
    height: 0.1rem;
    width: 4.7rem;
    background: $pri-color;
    top: -2.3rem;
    left: -3rem;
    transform: rotate(2deg);
  }
}

// brian's body
.body-container {
  position: relative;
  height: 10rem;
  width: 13rem;
  top: 0.5rem;
  background: $sec-color;
  border-radius: 3rem 3rem 1rem 1rem;
}

// brian's arms
.arm-r {
  position: relative;
  height: 9rem;
  width: 5rem;
  border-radius: 50%;
  @extend %bg-bdr-style;
  left: 9.5rem;
  top: .8rem;
  transform: rotate(-10deg);
  border-color: transparent $pri-color transparent transparent;

  &::before {
    position: absolute;
    content: "";
    height: 10rem;
    width: 6rem;
    left: -3rem;
    top: -1.5rem;
    transform: rotate(12deg);
    border-radius: 50% 50% 3rem 0;
    @extend %bg-bdr-style;
    border-color: transparent $pri-color transparent transparent;
  }
}

//brian's legs & foot
.legs-container {
  position: relative;
  height: 10rem;
  width: 11rem;
  left: 2rem;
  top: -0.5rem;
  background: $sec-color;
  border-radius: 0 0 0 1.5rem;
}

.leg-l {
  position: absolute;
  height: 6rem;
  width: 3rem;
  @extend %bg-bdr-style;
  border-radius: 50%;
  transform: rotate(5deg);
  top: 2.5rem;
  left: 2.6rem;
  border-color: transparent $pri-color transparent transparent;
}

.foot-l {
  position: absolute;
  height: 2.8rem;
  width: 5.5rem;
  border-radius: 0 50% 50% 30%;
  transform: rotate(5deg);
  top: 5rem;
  left: -1.7rem;
  @extend %bg-bdr-style;
  box-shadow: 0 0.1rem 0 $sec-color;
  border-color: $pri-color $pri-color transparent transparent;

  &::before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 3.8rem;
    top: -0.8rem;
    left: -0.1rem;
    background: $sec-color;
    transform: rotate(-3deg);
  }
}

.foot-l-toes {
  position: absolute;
  height: 1.6rem;
  width: 1.5rem;
  border-radius: 0 0.8rem 0rem 0;
  @extend %bg-bdr-style;
  transform: rotate(10deg);
  left: 3rem;
  top: 0.8rem;
  border-color: $pri-color $pri-color transparent transparent;

  &::after {
    content: "";
    @extend .foot-l-toes;
    border-radius: 0 0.8rem 0.5rem 0;
    transform: rotate(8deg);
    left: -1.5rem;
    top: 0.5rem;
  }
}

.leg-r {
  position: relative;
  height: 8rem;
  width: 2rem;
  left: 9rem;
  top: 1rem;
  border-radius: 0 1rem 50% 0;
  @extend %bg-bdr-style;
  box-shadow: 0 3rem 0 $bg;
  border-color: transparent transparent $pri-color transparent;
}
.foot-r {
  @extend .foot-l;
  border-radius: 50% 30% 50% 30%;
  transform: rotate(6deg);
  top: 7.5rem;
  left: -3rem;
  height: 2rem;
  width: 5.2rem;
  border-color: $pri-color $pri-color $pri-color transparent;

  &::before {
    width: 3rem;
    top: -0.3rem;
    left: 0.2rem;
  }
}

.foot-r-toes {
  position: absolute;
  height: 0.8rem;
  width: 1.3rem;
  @extend %bg-bdr-style;
  border-radius: 0.5rem;
  transform: rotate(8deg);
  left: 3.5rem;
  top: 0.8rem;
  border-color: $pri-color $pri-color transparent transparent;

  &::before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1.3rem;
    @extend %bg-bdr-style;
    left: -1.7rem;
    top: 0.1rem;
    border-radius: 0 0.5rem 0 0;
    transform: rotate(3deg);
    border-color: $pri-color $pri-color transparent transparent;
  }
}
