*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$primary-color: rgb(199, 199, 199);
$bg-color: rgb(250, 164, 4);

body {
  @include flex;
  min-height: 100vh;

  .frame {
    @include flex;
    position: relative;
    background-image: #fff;
    height: 40rem;
    width: 40rem;
    box-shadow: 0 0 1rem rgba(180, 180, 180, 0.35);

    &::before {
      position: absolute;
      text-align: center;
      content: "DAY 30 - RAMDOM CIRCLE";
      color: rgb(97, 97, 97);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      top: 2rem;
      font-size: 1.5rem;
      white-space: nowrap;
      text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    }

    &::after{
      position: absolute;
      content: '';
      height: 30rem;
      width: 30rem;
      z-index: 2;
      border: .1rem solid rgb(209, 81, 81);
      box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
  }


    .polypath {
      position: relative;
      fill: none;
      stroke: rgb(220, 20, 60);
      stroke-width: .5rem;
      stroke-linecap: round;
      stroke-dasharray: 2000;
      stroke-dashoffset: 2000;
      animation: circle 6s linear infinite;
      filter: drop-shadow(0.1rem 0.1rem 0.3rem rgb(180, 180, 180));
    }
  }
}
@keyframes circle {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
