@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  user-select: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$img-colr: img-1, img-2, img-3, img-4, img-5;

$colors: (
  img-1: #ff3c00,
  img-2: #999723,
  img-3: #fffb00,
  img-4: #00aaa2,
  img-5: #7d89f7,
);

body {
  @include flex;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include flex;
  height: 40rem;
  width: 40rem;
  background: rgb(253, 165, 2);

  &::before {
    position: absolute;
    text-align: center;
    content: "DAY 59 - IMAGE TRANSITION";
    color: #fff;
    top: 2rem;
    font-size: 1.5rem;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
  }
}

.title {
  position: absolute;
  text-align: center;
  z-index: 1;
  font-size: 2rem;
  top: 6rem;
  font-family: "Comforter", cursive;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: #fff;
  text-shadow: 0 0 0.3rem rgb(48, 48, 48);
}

.wrapper {
  @include flex;
  height: 30rem;
  width: 30rem;
  background-color: #c5c5c5;
  border: 0.2rem solid darkorange;
  box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
    0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;

}

.images {
  position: relative;
  @include flex;
  width: 28rem;
  height: 22rem;
  justify-content: space-evenly;
}

.image {
  position: relative;
  flex: 1 1 auto;
  width: 20%;
  height: 100%;
  z-index: 12;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 1;
    width: 100%;
  }


  @function getColor($color-name){
    @if map-has-key($colors, $color-name){
      @return map-get($colors , $color-name)
    }
  }
  @each $i in $img-colr{
    &.#{$i}{
      background: getColor($i);
      border-radius: 1rem;
    }

    &:hover{
      transition: all 1s ease-in-out;
      background: none;
    }
  }
}

img {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.image:hover > img {
  opacity: 1;
  width: 100%;
  filter:contrast(1);
}
