*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

$color-bg: rgb(200, 255, 255);
$bg-color: rgb(0, 100, 100);
$bg: #acc4ac;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  padding: 2rem 3rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  background: $color-bg;
  border-radius: 0.3rem;
  white-space: nowrap;
  color: $bg-color;
  transition: all 0.3s ease-in-out;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);

  &::after{
    position: absolute;
    content: '';
    height: 25rem;
    width: 25rem;
    border: 0.1rem solid $bg-color;
    transform: rotate(45deg);
    z-index: 1;
  }

  &::before{
    position: absolute;
    content: '';
    height: 37rem;
    width: 6rem;
    border-radius: 5rem;
    border-top: 2rem solid $color-bg;
    border-bottom: 2rem solid $color-bg;
    z-index: 2;
  }
}

.hover-btn {
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;

  &::before {
    content: "HOVER ME";
    position: absolute;
    @include btn;
    transform: translate(-43%, -30%);
  }

  &:hover::before {
    transform: translate(-50%, -50%);
    background-color: $bg-color;
    color: $color-bg;
  }

  &::after {
    content: "HOVER ME";
    position: absolute;
    @include btn;
    color: $color-bg;
    background: $bg-color;
    transform: translate(-50%, -50%);
  }

  &:hover::after {
    color: $bg-color;
    background-color: $color-bg;
    transform: translate(-43%, -30%);
  }
}
