*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --segment-width: 40rem;
}

$frame1-color: rgb(86, 69, 134);
$frame2-color: rgb(103, 146, 175);
$frame3-color: rgb(223, 171, 0);

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flex;
  min-height: 100vh;
  overflow: hidden;

  .frame {
    @include flex;
    position: relative;
    width: var(--segment-width);
    height: var(--segment-width);
    overflow: hidden;
    gap: 1rem;

    &::before {
      position: absolute;
      text-align: center;
      content: "DAY 19 - SLIDER WITH RADIO BUTTON";
      color: #fff;
      top: 2rem;
      z-index: 2;
      font-size: 1.5rem;
      white-space: nowrap;
      text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
    }

    input[type="radio"] {
      display: none;
    }

    .circle {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      z-index: 2;
      background-color: rgb(220, 20, 60);
      cursor: pointer;
    }

    .c2 {
      @extend .circle;
    }

    .c3 {
      @extend .circle;
    }

    .btn-active {
      position: absolute;
      z-index: 5;
      width: 4rem;
      height: 4rem;
      background: #fff;
      box-shadow: inset -0.5rem -0.5rem 3rem rgb(112, 111, 111);
      border-radius: 50%;
      transition: all 1s ease;
    }

    #button-1:checked ~ .btn-active {
      transform: translateX(-7rem);
    }
    #button-2:checked ~ .btn-active {
      transform: translateX(0);
    }
    #button-3:checked ~ .btn-active {
      transform: translateX(7rem);
    }

    .background {
      position: absolute;
      width: calc(var(--segment-width) * 3);
      height: var(--segment-width);
      background: $frame1-color;
      border-left: var(--segment-width) solid $frame2-color;
      border-right: var(--segment-width) solid $frame3-color;
      transition: all 1s ease;
      transform: translateX(0);
    }

    #button-1:checked ~ .background {
      transform: translateX(var(--segment-width));
    }
    #button-2:checked ~ .background {
      transform: translateX(0);
    }
    #button-3:checked ~ .background {
      transform: translateX(calc(-1 * var(--segment-width)));
    }
  }
}
