*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

.container {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: rgb(252, 84, 65);

  &::before{
    position:absolute;
    text-align: center;
    content: 'DAY 4 - LOADING';
    color: #fff;
    top: 2rem;
    font-size: 1.5rem;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
}

  &::after {
    position: absolute;
    content: "";
    @include center;
    height: 30rem;
    width: 30rem;
    background-color: rgb(77, 44, 40);
    border: 0.2rem solid rgb(252, 84, 65);
    box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
      0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  }
}

  .circles {
    position: relative;
    width: 20rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

    .circle {
      position: absolute;

      &.circle1 {
        border: 0.3rem solid rgb(255, 207, 201);
        animation: small 4s infinite alternate;
        z-index: 4;
      }

      &.circle2 {
        border: 0.3rem solid rgb(204, 104, 92);
        animation: medium 4s infinite alternate;
        z-index: 3;
      }

      &.circle3 {
        border: 0.3rem solid rgb(255, 162, 152);
        animation: large 4s infinite alternate;
        z-index: 2;
      }

      &.circle4 {
        border: 0.3rem solid rgb(250, 128, 114);
        animation: xlarge 4s infinite alternate;
        z-index: 1;
      }
    }
  }

@keyframes small {
  0%,
  75% {
    transform: scale(0);
    background-color: rgb(255, 207, 201);
    border-radius: 5%;
    opacity: 0.5;
    height: 0;
    width: 0;
  }

  100% {
    transform: scale(1);
    border-radius: 50%;
    opacity: 1;
    height: 3rem;
    width: 3rem;
  }
}

@keyframes medium {
  0%,
  50% {
    transform: scale(0);
    border-radius: 5%;
    background-color: rgb(163, 91, 83);
    opacity: 0.5;
    height: 0;
    width: 0;
  }

  100% {
    transform: scale(1);
    border-radius: 50%;
    opacity: 1;
    height: 6rem;
    width: 6rem;
  }
}

@keyframes large {
  0%,
  30% {
    transform: scale(0);
    border-radius: 5%;
    background-color: rgb(250, 159, 148);
    opacity: 0.5;
    height: 0;
    width: 0;
  }

  100% {
    transform: scale(1);
    border-radius: 50%;
    opacity: 1;
    height: 9rem;
    width: 9rem;
  }
}

@keyframes xlarge {
  0%,
  10% {
    transform: scale(0);
    background-color: rgb(252, 84, 65);
    border-radius: 5%;
    opacity: 0.5;
    height: 0;
    width: 0;
  }

  100% {
    transform: scale(1);
    border-radius: 50%;
    opacity: 1;
    height: 12rem;
    width: 12rem;
  }
}
