*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  @include center;
  position: relative;
  height: 40rem;
  width: 40rem;
  background: darkcyan;
  border-radius: 0.5rem;

  &::before{
      content: '';
      position: absolute;
      height: 30rem;
      width: 30rem;
      border-width: 0.5rem 0.5rem 0.5rem 0.5rem;
      border-style: solid none solid none;
      border-color: #fff;
      border-radius: 0.5rem 8rem 0.5rem 8rem;
      box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(10, 10, 10, 0.5);
  }
}

.circle {
  position: absolute;
  height: 25rem;
  width: 25rem;
  transform-style: preserve-3d;
}

.ring {
  position: absolute;
  height: 25rem;
  width: 25rem;
  border: 0.1rem solid cyan;
  border-radius: 50%;
  transform-origin: 50% 50%;
}

@for $x from 1 through 10 {
  .ring-#{$x} {
    animation: rotate-#{$x} 5s ease-in-out infinite;
  }

  @keyframes rotate-#{$x} {
    $start: ($x * 4);
    #{$start}% {
        transform: rotateX(0) rotateY(0) rotateZ(0)
    }
    100%{
        transform: rotateX(360deg) rotateY(-360deg) rotateZ(0)
    }
  }
}
