*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  @include center;
  position: relative;
  height: 40rem;
  width: 40rem;
  background: darkcyan;
  border-radius: 0.5rem;

  &::before {
    position: absolute;
    content: "";
    @include center;
    height: 30rem;
    width: 30rem;
    background-color: #c5c5c5;
    border: 0.2rem solid rgb(0, 65, 65);
    box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
      0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  }

  &::after {
    position: absolute;
    text-align: center;
    content: "DAY 72 - THE RINGS";
    color: #fff;
    top: 7rem;
    font-size: 1.5rem;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
  }
}

.circle {
  position: absolute;
  height: 20rem;
  width: 20rem;
  transform-style: preserve-3d;
}

.ring {
  position: absolute;
  height: 20rem;
  width: 20rem;
  border: 0.2rem solid rgb(0, 65, 65);
  border-radius: 50%;
  transform-origin: 50% 50%;
}

@for $x from 1 through 10 {
  .ring-#{$x} {
    animation: rotate-#{$x} 5s ease-in-out infinite;
  }

  @keyframes rotate-#{$x} {
    $start: ($x * 4);
    #{$start}% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
    }
  }
}
