@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

$font: "Oregano", cursive;
$tcolor: rgb(228, 228, 228);
$tcolor-m: rgb(1, 255, 1);
$bgcolor-m: rgba(75, 75, 75, 0.342);
$bg: rgb(243, 243, 243);
$green: rgb(185, 255, 129);
$transition-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flex;
  min-height: 100vh;
  font-family: $font;

  .container {
    position: relative;
    @include flex;
    height: 40rem;
    width: 40rem;
    background: radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    border-radius: 1rem;

    &::before {
      position: absolute;
      text-align: center;
      content: "DAY 27 - CHECKLIST";
      color: #fff;
      top: 2rem;
      font-size: 1.5rem;
      white-space: nowrap;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
    }

    .frame {
      @include flex;
      position: relative;
      flex-direction: column;
      background: transparent;
      color: $tcolor;
      top: 2rem;
      height: 33rem;
      width: 35rem;
      filter: drop-shadow(0.2rem 0.2rem 1rem rgba(10, 10, 10, 0.815))
        contrast(25);
      border: 0.5rem solid rgba(128, 255, 0, 0.575);
      box-shadow: inset -0.1rem 0rem 1rem rgba(128, 255, 0, 0.747),
        inset 0rem -0.2rem 1rem rgba(128, 255, 0, 0.747);
      border-radius: 3rem 0 3rem 0;

      .title {
        position: absolute;
        top: 0;
        padding-top: 2rem;
        font-size: 2rem;
        font-weight: 300;
        word-spacing: 0.5rem;
        text-transform: uppercase;
      }

      .author {
        position: absolute;
        top: 4.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
        color: $tcolor-m;
      }

      .separator {
        position: absolute;
        width: 70%;
        height: 0.1rem;
        background: $tcolor;
        top: 7.5rem;
      }

      ul {
        list-style: none;
        padding: 3rem 0;
        margin: 0 4rem;
        word-spacing: 0.3rem;
        letter-spacing: 0.1rem;

        li {
          position: relative;
          display: block;
          top: 2rem;
          margin: 3rem 1rem;
          height: 3rem;
        }

        .text {
          float: left;
          font-size: 1.3rem;
          line-height: 2rem;
          width: 30rem;
          height: auto;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          & .addl-text {
            position: absolute;
            left: 1rem;
            top: 1.5rem;
          }
        }

        .button {
          position: relative;
          z-index: 2;
          float: right;
          width: 1.5rem;
          height: 1.5rem;
          top: -2rem;
          border: 1rem solid silver;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.4s ease-out 0.5s;
        }

        .checkmark {
          position: absolute;
          top: 0.3rem;
          left: 95%;
          right: 0;
          stroke: 3;
          fill: silver;
          transition: all 0.5s ease-out;
        }

        input {
          display: none;

          &:checked ~ .text,
          &:checked ~ .text > .addl-text {
            color: greenyellow;
            text-decoration: line-through;
          }

          &:checked ~ .button {
            transition: all 0.4s ease-in;
            transform: scale(1.5);
            opacity: 0;
          }

          &:checked ~ .checkmark {
            stroke-dashoffset: 0;
            transition: all 0.5s ease-out 0.1s;
          }
        }
      }
    }
  }
}
