* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

$bg1: repeating-linear-gradient(
    120deg,
    rgba(2, 6, 250, 0.418),
    rgba(2, 6, 250, 0.418) 1px,
    transparent 1px,
    transparent 60px
  ),
  repeating-linear-gradient(
    60deg,
    rgba(2, 6, 250, 0.418),
    rgba(2, 6, 250, 0.418) 1px,
    transparent 1px,
    transparent 60px
  ),
  linear-gradient(
    60deg,
    rgba(2, 6, 250, 0.418) 25%,
    transparent 25%,
    transparent 75%,
    rgba(2, 6, 250, 0.418) 75%,
    rgba(2, 6, 250, 0.418)
  ),
  linear-gradient(
    120deg,
    rgba(2, 6, 250, 0.418) 25%,
    transparent 25%,
    transparent 75%,
    rgba(2, 6, 250, 0.418) 75%,
    rgba(2, 6, 250, 0.418)
  );

$background-size: 70px 120px;

$top-bg: linear-gradient(45deg, #81ffeec5 10%, #f382f37e 100%);
$skycolor: rgb(155, 199, 226);
$bot-bg: green;
$width: 38rem;
$height: 38rem;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include flex;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
}

.container {
  height: 38rem;
  width: $width;
  box-shadow: -0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.4),
    0.1rem -0.1rem 0.8rem rgba(0, 0, 0, 0.4),
    -0.1rem 0.8rem 1rem rgba(0, 0, 0, 0.4);

  .bg-top {
    position: absolute;
    height: 16rem;
    width: $width;
    background: $top-bg;
    overflow: hidden;

    .fas {
      transition: all 3s ease-in-out;
    }

    i.one {
      position: absolute;
      top: 5rem;
      font-size: 8rem;
      color: $skycolor;
      animation: move1 6s ease-in-out infinite;
      filter: contrast(1.75);
      opacity: 0;
    }

    i.two {
      @extend i, .one;
      left: 13rem;
      top: 1rem;
      animation: move2 4s ease-in-out infinite;
      filter: hue-rotate(90deg);
    }

    i.three {
      @extend i, .one;
      left: 0;
      font-size: 6rem;
      top: 9rem;
      animation: move3 4.5s ease-in-out infinite;
      filter: hue-rotate(15deg);
    }

    i.four {
      @extend i, .one;
      left: 10rem;
      font-size: 5rem;
      top: 1rem;
      animation: move4 5s ease-in-out infinite;
      filter: hue-rotate(145deg);
    }
  }

  .bg-bottom {
    @extend .bg-top;
    top: 46%;
    height: 23rem;
    width: $width;
    background: $bot-bg;
  }

  .flipper {
    position: absolute;
    width: $width;
    height: 12rem;
    top: 58%;
    border: 0 -1.5rem 5rem black;
    animation-fill-mode: both;
    transform-style: preserve-3d;
    animation: flip 1s ease-in-out alternate infinite 0.5s;
    background: $bg1;
    background-size: $background-size;
  }

  .ball {
    position: absolute;
    width: 8rem;
    height: 8rem;
    top: 70%;
    border-radius: 50%;
    box-shadow: 0 -0.2rem 2rem rgba(0, 0, 0, 0.582);
    z-index: 10;
  }
  .b2 {
    background: radial-gradient(
      circle at 65% 15%,
      gray 0.2rem,
      white 3%,
      rgb(3, 89, 117) 100%,
      blue 50%
    );
    animation: b-ball 1s linear alternate infinite;
    transform-style: preserve-3d;
    perspective: 1000rem;
    overflow: hidden;

    & .line1 {
      position: absolute;
      height: 6rem;
      width: 8rem;
      border: 0.1rem solid rgb(122, 122, 122);
      transform: rotate(15deg);
      border-radius: 50%;
      top: 1rem;
    }

    & .line2 {
      @extend .line1;
      transform: translateX(3rem) rotate(100deg);
      left: -3rem;
    }
  }

  @keyframes b-ball {
    from {
      transform: translate3d(15rem, -15rem, 0) rotateZ(0deg);
    }
    to {
      transform: translate3d(15rem, -40rem, 0) rotateZ(360deg);
    }
  }

  @keyframes flip {
    from {
      transform: rotateX(90deg);
    }
    to {
      transform: rotateX(45deg);
    }
  }

  @keyframes move1 {
    0% {
      margin-left: -30%;
      opacity: 1;
    }
    100% {
      margin-left: 100%;
      opacity: 1;
    }
  }

  @keyframes move2 {
    0% {
      margin-left: 100%;
      opacity: 1;
    }
    100% {
      margin-left: -80%;
      opacity: 0.8;
    }
  }

  @keyframes move3 {
    0% {
      margin-left: 100%;
      opacity: 1;
    }
    100% {
      margin-left: -20%;
      opacity: 0.7;
    }
  }
  @keyframes move4 {
    0% {
      margin-left: -50%;
      opacity: 1;
    }
    100% {
      margin-left: 80%;
      opacity: 0.5;
    }
  }
}
