// $transition: cubic-bezier(0.5, 0, 0.5, 1);
$transition: ease-in-out;

:root {
  font-size: 62.5%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin-top: calc(5rem + 10vh);
  padding: 10rem;
  border-radius: 1rem;
  box-shadow: inset 0.5rem -0.2rem 3rem 0 rgba(201, 140, 60, 0.534),
    inset -0.2rem -0.5rem 1rem 0 rgba(0, 0, 0, 0.479);
  background: rgb(159, 230, 18);
}

.circle {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(17rem at 17rem 17rem);
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
}

.sky {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 30rem;
  background-color: rgb(135, 222, 218);
  animation: night-mode 4s $transition infinite;
}

.sun {
  position: absolute;
  z-index: 2;
  top: 0.3rem;
  left: 20rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgb(230, 230, 61);
  transform-origin: -20% 500%;
  animation: suns-down 4s $transition infinite;
}

.side-left {
  position: absolute;
  top: 7rem;
  left: 1rem;
  height: 17rem;
  width: 30rem;
  background-color: rgb(212, 160, 92);
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
  animation: pyramid-shades 4s $transition infinite;
}

.side-right {
  position: absolute;
  top: 7rem;
  left: 16rem;
  height: 17rem;
  width: 15rem;
  background-color: gray;
  clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
  animation: pyramid-shades 4s $transition infinite;
}

.shadow {
  position: absolute;
  z-index: 2;
  top: 23rem;
  left: -10rem;
  height: 4rem;
  width: 60rem;
  background: rgba(0, 0, 0, 0.349);
  transform-origin: 70% 0;
  clip-path: polygon(10rem 0%, 40rem 0%, 100% 100%);
  animation: shadow 5s $transition infinite;
}

.ground {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 12rem;
  background: burlywood;
  animation: sand 5s $transition infinite;
}

@keyframes suns-down {
  0% {
    background-color: #c5ba57;
    transform: rotate(-70deg);
  }
  30% {
    background-color: #ffef00;
    transform: rotate(-30deg);
  }
  70% {
    background-color: #ffef00;
  }
  100% {
    background-color: #ceccc7;
    transform: rotate(70deg);
  }
}

@keyframes night-mode {
  0% {
    background: #181d24;
  }

  30% {
    background: #63a4b8;
  }

  70% {
    background: #25434d;
  }

  100% {
    background: #12161d80;
  }
}

@keyframes pyramid-shades {
  0% {
    background: #181d24;
  }

  30% {
    background: rgb(194, 140, 69);
  }

  70% {
    background: rgba(110, 92, 65, 0.438);
  }

  100% {
    background: #0c0f1480;
  }
}

@keyframes shadow {
  0% {
    transform: scaleY(0);
    clip-path: polygon(10rem 0%, 40rem 0%, 100% 100%);
  }

  30% {
    transform: scaleY(0.8);
    clip-path: polygon(10rem 0%, 40rem 0%, 80% 100%);
  }

  55% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
    clip-path: polygon(10rem 0%, 40rem 0%, 0% 100%);
  }
}

@keyframes sand {
  0% {
    background: #272c34;
  }

  30% {
    background: #dbc64f;
  }

  70% {
    background: #f0de75;
  }

  100% {
    background: #272c34;
  }
}
