*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
}

@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

$frame-bg: linear-gradient( 45deg, #C2FFD8 50%, #465EFB 50%);
$sp-color: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%);;

body{
    @include flex;
    min-height: 100vh;
}

.frame{
    @include flex;
    position: relative;
    height: 40rem;
    width: 40rem;
    background: $frame-bg;
    border-radius: 1rem;
}

.sphere{
    height: 20rem;
    width: 20rem;
    transform-style: preserve-3d;
    transform: rotateX(-25deg);
    transition: all 1s ease-in-out;

    &:hover{
        transform: rotateX(25deg);
    }
}

.slice{
    position: absolute;
    border-radius: 50%;
    background: $sp-color;
    border: 0.3rem solid $frame-bg;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.slice-19{
    width: 20rem;
    height: 20rem;
    left:0;
    top: 0;
    transform: rotateX(90deg);
    animation: sp-show 6s ease-in-out infinite;
}

$radius: 200;
$border: $frame-bg;
$fill: $sp-color;

@for $i from 1 through 9{
    $size: $radius - (3 * ($i * $i));
    $offset: ($i * 20) - (($i * $i) / 2);

    .slice-#{$i}{
        width: $size+px;
        height: $size+px;
        left: (($radius - $size) / 2)+px;
        top: (($radius - $size) / 2)+px;
        transform: translateY(($offset)+px) rotateX(90deg);
        animation: slice-#{$i} 6s ease-in-out infinite;
    }

    $id: $i + 9;
        .slice-#{$id}{
            width: $size+px;
            height: $size+px;
            left: (($radius - $size) / 2)+px;
            top: (($radius - $size) / 2)+px;
            transform: translateY((-1 * $offset)+px) rotateX(90deg);
            animation: slice-#{$id} 6s ease-in-out infinite;
        }

    @keyframes slice-#{$i} {
        0%, 19% {
            transform: translateY(0) rotateX(90deg);
            opacity: 0;
        }
        20% {
            transform: translateY(0) rotateX(90deg);
            opacity: 1;
            border: 2px solid $fill;
        }
        30% {
            transform: translateY(($offset + ($i * 4))+px) rotateX(90deg);
            border: 2px solid $border;
        }
        35% {
            transform: translateY(($offset - ($i * 2))+px) rotateX(90deg);
        }
        40% {
            transform: translateY(($offset + ($i * 1))+px) rotateX(90deg);
        }
        45% {
            transform: translateY(($offset - ($i * .5))+px) rotateX(90deg);
        }
        50%, 65% {
            transform: translateY(($offset)+px) rotateX(90deg);
        }
        70% {
            transform: translateY(($offset + ($i * 4))+px) rotateX(90deg);
            border: 2px solid $border;
        }
        80% {
            transform: translateY(0) rotateX(90deg);
            opacity: 1;
            border: 2px solid $fill;
        } 
        81%, 100% {
            transform: translateY(0) rotateX(90deg);
            opacity: 0;
        }
    }

    @keyframes slice-#{$id} {
        0%, 19% {
            transform: translateY(0) rotateX(90deg);
            opacity: 0;
        }
        20% {
            transform: translateY(0) rotateX(90deg);
            opacity: 1;
            border: 2px solid $fill;
        }
        30% {
            transform: translateY((-1 * $offset - ($i * 4))+px) rotateX(90deg);
            border: 2px solid $border;
        }
        35% {
            transform: translateY((-1 * $offset + ($i * 2))+px) rotateX(90deg);
        }
        40% {
            transform: translateY((-1 * $offset - ($i * 1))+px) rotateX(90deg);
        }
        45% {
            transform: translateY((-1 * $offset + ($i * .5))+px) rotateX(90deg);
        }
        50%, 65% {
            transform: translateY((-1 * $offset)+px) rotateX(90deg);
        }
        70% {
            transform: translateY((-1 * $offset - ($i * 4))+px) rotateX(90deg);
            border: 2px solid $border;
        }
        80% {
            transform: translateY(0) rotateX(90deg);
            opacity: 1;
            border: 2px solid $fill;
        } 
        81%, 100% {
            transform: translateY(0) rotateX(90deg);
            opacity: 0;
        }
    }
}

@keyframes sp-show {
	0% {
		transform: rotateX(90deg) scale(0);
	}
	10% {
		transform: rotateX(90deg) scale(1.2);
	}
	15% {
		transform: rotateX(90deg) scale(0.9);
	}
	20%, 75% {
		transform: rotateX(90deg) scale(1);
	}
	80% {
		transform: rotateX(90deg) scale(1.2);
	}
	90%, 100% {
		transform: rotateX(90deg) scale(0);
	}
}

