*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: rgb(199, 145, 155);

  &::before{
    position:absolute;
    text-align: center;
    content: 'DAY 70 - CALENDAR DAYS';
    color: #fff;
    top: 2rem;
    font-size: 1.5rem;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}
}

.calendar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
  height: 30rem;
  width: 30rem;
  cursor: pointer;
  background-color: #c5c5c5;
  border: 0.2rem solid silver;
  box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
    0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.d {
  @include center;
  flex-direction: column;
  color: rgb(94, 94, 94);
  height: 14.8rem;
  width: 14.8rem;
  background: rgb(199, 145, 155);
  transition: 0.3s ease-in-out;
  transform: scale(1);
  text-shadow: (0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.5)) ;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
}

.day {
  position: relative;
  font-size: 1.5rem;
}

.date {
  position: relative;
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
  left: -1rem;
  letter-spacing: -0.8rem;
}

.d:hover {
  transform: scale(0.9);
  color: #fff;
  border-radius: 0 10rem 10rem 10rem;

  .date,
  .day {
    text-shadow: (0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
  }
}
