*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: rgb(205, 6, 29);
  overflow: hidden;

  &::before {
    position: absolute;
    text-align: center;
    content: "DAY 11 - WALKING SHOES";
    color: #fff;
    top: 2rem;
    font-size: 1.5rem;
    white-space: nowrap;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
  }

  &::after {
    position: absolute;
    content: "";
    height: 20rem;
    width: 50rem;
    background-color: #c5c5c5;
    transform: rotate(7deg);
    border: 0.5rem solid rgb(205, 6, 29);
    box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1),
      0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.container{
  position: absolute;
  height: 30rem;
  width: 30rem;
  z-index: 30;
  transform: rotate(8deg);
  background: rgba(128, 1, 1, 0.3);
  border-radius: 20rem 0 20rem 20rem;
  border: 0.2rem dashed rgb(238, 238, 238);
}

.walking-shoes {
  position: relative;
  animation: fade-in 0.8s ease-out;
  animation-fill-mode: both;
}

.tennis-shoes {
  position: absolute;
  top: 0;
  left: 7rem;
  width: 8rem;
  height: 20rem;
  z-index: 30;
  transform-origin: 50% 0;
}

.shoe {
  position: absolute;
  width: 18rem;
  height: 18rem;
  top: 5rem;
  left: 0;
  bottom: 0;
  background: url("https://svgshare.com/i/ctE.svg") center center no-repeat;
  transform-origin: 0 95%;
}
.left {
  animation: leg-swing 2s ease-in-out infinite;

  .shoe {
    animation: shoe-turn 2s ease-in-out infinite;
  }
}
.right {
  animation: leg-swing 2s ease-in-out 1s infinite;

  .shoe {
    animation: shoe-turn 2s ease-in-out 1s infinite;
  }
}

@keyframes leg-swing {
	0%, 100% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(30deg);
	}
}
@keyframes shoe-turn {
	0%, 100% {
		transform: rotate(-10deg) translateY(-5px) translateX(10px);
	}
	25% {
		transform: rotate(0deg) translateY(0px) translateX(0);
	}
	50% {
		transform: rotate(10deg) translateY(-10px) translateX(10px);
	}
	75% {
		transform: rotate(0deg) translateY(-30px) translateX(0);
	}
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
