*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$bg-color: rgb(60, 16, 83);
$b-color2: rgba(255, 141, 249, 0.8);

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg-color;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;

  &::before {
    position: absolute;
    text-align: center;
    content: "DAY 66 - CHECKBOX | MENU BUTTON";
    color: rgb(230, 230, 230);
    top: 2rem;
    font-size: 1.5rem;
    white-space: nowrap;
    text-shadow: 0.1rem 0.1rem 0.3rem #000;
  }

  &::after {
    position: absolute;
    content: "";
    @include center;
    height: 30rem;
    width: 30rem;
    background-color: #c5c5c534;
    border: 0.2rem solid $b-color2;
    box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
      0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  }
}

.checkbox {
  position: absolute;
  @include center;

  &::before {
    position: absolute;
    content: "";
    height: 23rem;
    width: 23rem;
    z-index: 1;
    background: none;
    transform: rotate(-45deg);
    border-top: 0.3rem dashed $b-color2;
    border-bottom: 0.3rem dashed $b-color2;
    border-left: 1rem solid $bg-color;
    border-right: 1rem solid $bg-color;
    border-radius: 8rem;
    box-shadow: inset 0 0 0.5rem #000;
  }
}

#cbox {
  display: none;
}

.toggle {
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  z-index: 5;
  border: 0.2rem solid $b-color2;
  box-shadow: 0 0 0.3rem #000;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    @extend .toggle;
    border: 1.4rem solid $bg-color;
    left: -0.2rem;
    top: -0.2rem;
    visibility: hidden;
  }
}

.buttons {
  position: relative;
  @include center;
  height: 8rem;
  width: 8rem;
  cursor: pointer;
  user-select: none;
  visibility: hidden;

  $angle-offset: 0deg;
  $no-of-button: 12;
  $angle-to-rotate: 360deg;
  $angle-per-btn: $angle-to-rotate / $no-of-button;

  @for $i from 1 through $no-of-button {
    .btn-#{$i} {
      transform: (rotate($angle-offset + $angle-per-btn * $i))
        translateY(-3rem)
        scaleY(0);
    }
  }

  .btn {
    position: absolute;
    @include center;
    top: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: $bg-color;
    transform-origin: 50% 100%;
    border-radius: 2rem;
    z-index: 3;
    background: $b-color2;
    box-shadow: 0 0 0.5rem #000;
  }
}

#cbox:checked ~ .toggle {
  background: transparent;
  box-shadow: 0 0 0.3rem $b-color2;

  &::after {
    visibility: visible;
  }
}

#cbox:checked ~ .buttons {
  @for $i from 1 through 12 {
    $x: $i - 1;
    $deg: (360 / 12) * $x;
    .btn-#{$i} {
      visibility: visible;
      transition: all 0.5s ease-in-out;
      transform: rotate(($deg) + deg) translateY(-6rem) scaleY(1);
    }
  }
}
