*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$bg: rgb(118, 158, 165);
$s-color: #c5c5c5;
$m-color: #fff;
$bg-stripes-1: rgb(128, 90, 34);
$bg-stripes-2: rgb(214, 179, 127);

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg;
  overflow: hidden;

  &::before {
    position: absolute;
    text-align: center;
    content: "DAY 89 - ANIMATED PATTERN";
    width: 100%;
    padding: 1rem 0;
    letter-spacing: 0.2rem;
    color: #fff;
    top: 1.5rem;
    z-index: 2;
    font-size: 1.5rem;
    white-space: nowrap;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
  }
}

@mixin h-v-setup {
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
}

.horizontal {
  @include h-v-setup;
  background: $bg;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

  @mixin stripes-set-h {
    position: relative;
    float: left;
    width: 3rem;
    height: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem 0;
  }

  .stripe:nth-child(odd) {
    @include stripes-set-h;
    background: $bg-stripes-1;
    animation: rotate-h 4s ease-in-out infinite;
  }

  .stripe:nth-child(even) {
    @include stripes-set-h;
    background: $bg-stripes-2;
    animation: rotate-h 4s ease-in-out infinite;
  }
}

.vertical {
  @include h-v-setup;

  @mixin stripes-set-v {
    position: relative;
    float: left;
    width: 1rem;
    height: 3rem;
    margin: 0 1rem;
    border-radius: 0 0.5rem;
  }

  .stripe:nth-child(even) {
    @include stripes-set-v;
    background: $bg-stripes-1;
    animation: rotate-v 4s ease-in-out infinite;
  }

  .stripe:nth-child(odd) {
    @include stripes-set-v;
    background: $bg-stripes-2;
    animation: rotate-v 4s ease-in-out infinite;
  }
}

@keyframes rotate-h {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(45deg) translateX(-2rem);
  }
  60% {
    transform: rotate(45deg) scaleY(2) scaleX(0.5);
  }
  80% {
    transform: rotate(45deg) scaleY(2) scaleX(0.5);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-v {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(45deg);
  }
  40% {
    transform: rotate(45deg) translateX(1rem);
  }
  60% {
    transform: rotate(45deg) scaleX(2) scaleY(0.5);
  }
  80% {
    transform: rotate(90deg) scaleX(2) scaleY(0.5);
  }
  100% {
    transform: rotate(90deg);
  }
}
