*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: rgb(138, 199, 199);
  border-radius: 0.5rem;
  

  &::before{
      position: absolute;
      content: '';
      height: 30rem;
      width: 30rem;
      z-index: 2;
      background: rgba(231, 230, 230, 0.5);
      clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  }

  &::after{
      position: absolute;
      content: '';
      height: 30rem;
      width: 30rem;
      background: teal;
      border: 0.2rem solid silver;
      box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
        0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
      z-index: 1;
  }
}

.title{
    position:absolute;
    text-align: center;
    color: #fff;
    top: 7rem;
    font-size: 1.5rem;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
}


.circle {
  position: relative;
  @include center;
  height: 20rem;
  width: 20rem;
  top: 1rem;
  z-index: 3;
  perspective: 100rem;
  transform-style: preserve-3d;
  animation: rotate 7s linear infinite;
}

.plane {
  position: absolute;
  height: 20rem;
  width: 20rem;
  background: gray;
  border-radius: 50%;
  opacity: 0.3;
}

@mixin random-bgr() {
  background: rgb(random(256), random(256), random(256));
  filter:contrast(3);
  border: 0.1rem solid #fff;
}

@for $x from 1 through 6 {
  $nullBase: $x - 1;
  $degree: (180 / 6) * $nullBase;
  .plane-#{$x} {
    transform: rotateX($degree + deg);
    @include random-bgr();
  }

  @keyframes rotate {
    0% {
      transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
    25% {
      transform: rotateY(45deg) rotateX(180deg) rotateZ(20deg);
    }
    50% {
      transform: rotateY(225deg) rotateX(0deg) rotateZ(90deg);
    }
    75% {
      transform: rotateY(0deg) rotateX(45deg) rotateZ(120deg);
    }
    100% {
      transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }
  }
}
