*,
::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%hook {
  top: 0;
  height: 3rem;
  width: 0.4rem;
  background: silver;
  z-index: 5;
}

$bg-color: #000;
$pri-color: orangered;
$sec-color: silver;
$bgcard-color: rgb(2, 39, 39);

%card {
  height: 15rem;
  width: 25rem;
  background: $pri-color;
  border-radius: 1rem;
}

body {
  @include flex;
  min-height: 100vh;

  .frame {
    @include flex;
    position: relative;
    height: 40rem;
    width: 40rem;
    background: $bg-color;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.712);

    .hover-me {
      position: absolute;
      top: 70%;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-size: 1.5rem;
      color: $pri-color;
      letter-spacing: 0.5rem;
      z-index: 12;
      transition: 0.3s ease-in-out;
      animation: show 20s ease-in-out infinite;
    }

    @keyframes show {
      0% {
        transform: translateX(-50rem);
      }
      100% {
        transform: translateX(50rem);
      }
    }

    .frame-border {
      position: absolute;
      @include flex;
      height: 20rem;
      width: 30rem;
      background: none;
      border-radius: 0 0 1rem 1rem;
      border: 0.5rem solid $pri-color;

      .hru {
        position: absolute;
        @include flex;
        @extend %card;
        background: $bgcard-color;
        font-size: 3rem;
        color: $sec-color;

        &:hover ~ .card {
          top: 1rem;
          transform: rotateX(180deg) scale(0.6) perspective(30rem);
        }
      }

      .hook {
        position: absolute;
        @extend %hook;
        left: 10rem;
        z-index: 10;

        &::after {
          position: absolute;
          content: "";
          @extend %hook;
          left: 10rem;
        }
      }

      .card {
        @extend %card;
        background: $bgcard-color;
        position: absolute;
        border-radius: 1rem;
        pointer-events: initial;
        z-index: 8;
        transform-origin: top center;
        transition: 1s ease-in-out;
        transform: rotateX(180deg) scale(0.5) perspective(-30rem);

        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          height: 10rem;
          width: 20rem;
          pointer-events: none;
        }

        .hello {
          position: absolute;
          fill: none;
          stroke-linecap: round;
          stroke: $pri-color;
          stroke-width: 8;
          stroke-dasharray: 5000;
          stroke-dashoffset: 5000;
          transition: 1s ease-in-out;
          animation: draw 10s ease-in-out alternate infinite;
        }

        &:hover {
          top: 1rem;
          z-index: 8;
          transform: rotateX(180deg) scale(0.6) perspective(30rem);
        }
      }
    }

    @keyframes draw {
      to {
        fill: $sec-color;
        stroke-dashoffset: 0;
      }
    }
  }
}
