@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$font-f: "Poppins", sans-serif;
$text-color1: #fff;
$bg-color: rgba(88, 226, 8, 0.884);
$bg-color-alt1: linear-gradient(180deg, rgb(28, 177, 177), rgba(153, 205, 50, 0.63));

body {
  @extend %flex;
  min-height: 100vh;
}

.frame {
  position: relative;
  height: 32rem;
  width: 32rem;
  background: $bg-color;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

  &::before {
    content: "";
    position: absolute;
    height: 34rem;
    width: 34rem;
    z-index: -1;
    background: $bg-color-alt1;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    transform: rotate(-5deg) translate(-1rem, -1rem);
  }
  &::after {
    content: "DAY 62 - PRICE TAG";
    position: absolute;
    text-align: center;
    color: #fff;
    top: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
    font-size: 1.5rem;
    white-space: nowrap;
    background: linear-gradient(-45deg, rgb(7, 185, 185), rgb(0, 128, 0));
    height: 40rem;
    width: 40rem;
    z-index: -2;
    left: -4rem;
    top: -4rem;
    padding: 1rem 0 0 0;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
  }
}

.plan {
  position: relative;
  @extend %flex;
  flex-direction: column;
  height: 13rem;
  width: 9rem;
  left: 1.5rem;
  font-size: 1rem;
  font-family: $font-f;
  background-color: rgb(1, 136, 136);
  perspective: 30rem;
  border-radius: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;

  &.basic {
    top: 1rem;
    &:hover {
      ~ .datum .users .fill,
      ~ .datum .gb .fill,
      ~ .datum .project .fill {
        transform: scaleX(0.08) translate3d(0, 0, 0);
      }
    }
  }

  &.pro {
    top: -12rem;
    left: 11.8rem;
    &:hover {
      ~ .datum .users .fill {
        transform: scaleX(0.3) translate3d(0, 0, 0);
      }
      ~ .datum .gb .fill {
        transform: scaleX(0.6) translate3d(0, 0, 0);
      }
      ~ .datum .project .fill {
        transform: scaleX(0.7) translate3d(0, 0, 0);
      }
    }
  }

  &.premium {
    top: -25rem;
    left: 22rem;
    &:hover {
      ~ .datum .users .fill,
      ~ .datum .gb .fill,
      ~ .datum .project .fill {
        transform: scaleX(1) translate3d(0, 0, 0);
      }
    }
  }

  &:hover {
    transform: scale(1.1);

    .title {
      background: rgb(1, 158, 158);
    }

    .price {
      color: rgb(231, 114, 75);
      filter: contrast(2);
    }

    .period {
      color: #fff;
      filter: contrast(2);
    }
  }
}

.lines {
  position: relative;
  top: 4.5rem;
  width: 8rem;
  margin-top: 0.5rem;
}
.line-1,
.line-2,
.line-3,
.line-4 {
  @extend %flex;
  height: 0.1rem;
  width: 90%;
  margin-left: 5%;
  margin-top: 0.3rem;
  background: #fff;
}

.line-2,
.line-4 {
  margin-left: 17%;
  width: 60%;
}

.title {
  position: absolute;
  top: 0.5rem;
  text-transform: uppercase;
  background: #58cffb;
  color: $text-color1;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.price {
  position: absolute;
  top: 5rem;
  font-size: 3rem;
  color: #fff;
}

.period {
  position: absolute;
  top: 9rem;
  color: $text-color1;
}

.datum {
  position: relative;
  top: -25rem;
  left: 1.5rem;
  height: 15rem;
  width: 92%;
  font-size: 1.2rem;
  font-family: $font-f;
  background-color: #58cffb;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);

  .data {
    position: relative;
    top: 1rem;
    margin: 1.7rem 1rem;

    .text {
      height: 2rem;

      .left {
        float: left;
      }

      .right {
        float: right;
      }
    }

    .line {
      position: relative;
      z-index: 5;
      width: 100%;
      height: 1rem;
      background: #fff;
      border-radius: 0.5rem;
      overflow: hidden;

      .fill {
        position: relative;
        z-index: 3;
        height: 0.9rem;
        width: 100%;
        background: rgb(231, 114, 75);
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: all 0.5s ease-in-out;
        border-radius: 3px;
      }
    }
  }
}
