*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$bg: linear-gradient(to bottom, rgb(117, 178, 202) 10%, rgb(2, 85, 2) 60%);
$color-bark: #9b9b36;
$color-leaf: #00bc00;
$color-stem-leaf: rgb(10, 141, 10);
$color-banana: #ffe135;

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg;
  overflow: hidden;

  &::before {
    content: "DAY 94 - BANANA TREE";
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
  }
}

.tree {
  position: relative;
  @include center;
  height: 36rem;
  width: 35rem;
  top: 2rem;
}

.bark {
  position: absolute;
  height: 15rem;
  width: 10rem;
  left: 7.5rem;
  top: 13.5rem;
  border-radius: 80%;
  border-width: 0 3rem 0 0;
  background: none;
  border-style: solid;
  z-index: 5;
  border-color: transparent $color-bark transparent transparent;

  &::after {
    position: absolute;
    content: "";
    height: 19rem;
    width: 15rem;
    left: 8rem;
    top: -3rem;
    border-radius: 80%;
    border-width: 0 0 0 3rem;
    background: none;
    border-style: solid;
    border-color: transparent transparent transparent $color-bark;
  }
}

.ground {
  position: absolute;
  height: 8rem;
  width: 27rem;
  bottom: 3rem;
  border-radius: 50% 50% 0 0;
  background-color: rgb(5, 66, 5);
  z-index: 50;

  &::before {
    position: absolute;
    content: "";
    height: 5rem;
    width: 12rem;
    top: 0;
    left: 20rem;
    border-radius: 1rem 50% 0 0;
    background-color: rgb(5, 66, 5);
    transform: rotate(25deg);
  }

  &::after {
    position: absolute;
    content: "";
    height: 7rem;
    width: 40rem;
    top: 5rem;
    left: -6.5rem;
    border-radius: 50% 50% 0 0;
    background: linear-gradient(to bottom,rgb(12, 53, 12) 20% , rgb(199, 181, 133) 90%);
  }
}

.leaves{
  position: relative;
  @include center;
  height: 25rem;
  width: 38rem;
  top: -3.5rem;
  perspective: 100rem;
  transform-origin: 50% 100% 0;
  animation: sway 5s ease-in-out infinite;
}

.leaf-1 {
  position: absolute;
  height: 10rem;
  width: 5rem;
  top: 4.5rem;
  left: 14rem;
  border-radius: 50% 50% 30% 30%;
  border-width: 0 1rem 0 0;
  background: $color-leaf;
  border-style: solid;
  transition: .5s ease-in-out;
  border-color: transparent $color-leaf transparent transparent;
  transform: scale(1.1) rotateX(7deg);

  &::after {
    content: "";
    position: absolute;
    height: 3rem;
    width: 0.5rem;
    top: 9rem;
    left: 2.2rem;
    z-index: -1;
    background: $color-leaf;
  }

  &::before {
    position: absolute;
    content: "";
    height: 12rem;
    width: .1rem;
    left: 2.5rem;
    top: 0.5rem;
    opacity: 0.8;
    background: $color-stem-leaf;
    box-shadow: 0 0 0.5rem rgba(102, 102, 102, 0.5);
  }
}

.leaf-2 {
  @extend .leaf-1;
  top: 12.5rem;
  left: 17rem;
  transform: rotate(120deg) scale(0.6);
}

.leaf-3 {
  @extend .leaf-1;
  top: 6.5rem;
  left: 21rem;
  transform: rotate(53deg) scale(1);
}

.leaf-4 {
  @extend .leaf-1;
  top: 9rem;
  left: 8rem;
  transform: rotate(-75deg) scale(0.9);
}

.leaf-5 {
  @extend .leaf-1;
  top: 15rem;
  left: 9.5rem;
  transform: rotate(-135deg) scale(0.7);
}

.banana-g1 {
  position: relative;
  height: 9rem;
  width: 4rem;
  left: -15rem;
  top: -1.5rem;
  z-index: 100;
  transform: rotate(-25deg);
}

.stem {
  position: absolute;
  height: 3rem;
  width: 0.3rem;
  top: 2rem;
  background: linear-gradient(
    to bottom,
    $color-leaf 30%,
    rgb(183, 247, 183) 70%
  );
  border-radius: 1rem;
  z-index: 55;
}

.banana-1 {
  position: absolute;
  height: 3rem;
  width: 1rem;
  left: -1.3rem;
  top: 2rem;
  border-width: 0.5rem;
  border-style: solid;
  border-color: $color-banana;
  border-radius: 70%;
  transform: rotate(45deg);

  &::after {
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0.3rem;
    bottom: -0.45rem;
    left: -0.1rem;
    background: #333;
    border-radius: 50%;
  }
}

.banana-2 {
  @extend .banana-1;
  transform: rotate(-45deg);
  left: 1rem;
  top: 3rem;
}

.banana-3 {
  @extend .banana-1;
  transform: rotate(45deg);
  top: 3.3rem;
}

.banana-4 {
  @extend .banana-1;
  transform: rotate(-45deg);
  left: 1rem;
  top: 3.8rem;
}

.banana-5 {
  @extend .banana-1;
  transform: rotate(25deg);
  left: -1rem;
  top: 4.3rem;
}

.banana-6 {
  @extend .banana-1;
  transform: rotate(-15deg);
  left: 0.3rem;
  top: 4.8rem;
}

@keyframes sway{
  0%, 100%{
    transform: scale(1.3) rotateX(7deg) rotateY(-8deg);
  }
  50%{
    transform: scale(1.27) rotateX(7deg) rotateY(7deg);
  }
}