*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: #ac8181;

  &::before {
    position: absolute;
    text-align: center;
    content: "DAY 78 - HOVER SHADOW";
    color: #fff;
    top: 2rem;
    z-index: 2;
    font-size: 1.5rem;
    white-space: nowrap;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
  }
}

.container {
  position: relative;
  @include center;
  height: 30rem;
  width: 30rem;
  background-color: #c5c5c5;
  border: 0.2rem solid rgb(167, 111, 111);
  box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
    0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

button[class*="but"] {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  height: 5rem;
  width: 16rem;
  padding: 1rem;
  background: #ac8181;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  text-shadow: 0.1rem 0.1rem 0.3rem #000;

  &::after {
    position: absolute;
    content: "";
    border-left: 18px solid #bcb6b9;
    border-top: 18px solid #c5c5c5;
    border-right: 18px solid #c5c5c5;
    top: -3px;
    right: -20px;
  }
}

.button-1 {
  top: 3rem;

  &:hover {
    transform: scale(1.02);
    box-shadow: -0.8rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
  }
}

.button-2 {
  top: 12rem;

  &:hover {
    transform: scale(1.04);
    box-shadow: -0.8rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
  }
}

.button-3 {
  top: 21rem;

  &:hover {
    transform: scale(1.06);
    box-shadow: -0.8rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
  }
}
