*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$bg: rgb(109, 47, 2);
$size: 15rem;
$colorF: #ddb8a6;
$colorN: rgba(212, 160, 154, 0.2);

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg;
  overflow: hidden;
  perspective: 500px;

  &::before {
    position: absolute;
    text-align: center;
    content: "DAY 91 - CUBE LOADER";
    color: $colorF;
    top: 2rem;
    font-size: 1.5rem;
    white-space: nowrap;
    text-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
  }

  &::after {
    position: absolute;
    content: "";
    height: 30rem;
    width: 30rem;
    border: 0.1rem solid $colorF;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
    background: none;
  }
}

.loader {
	width: $size;
	height: $size;
	transform-style: preserve-3d;
	transform: rotateX(-25deg) rotateY(45deg);
	transition: all .5s ease-in-out;
	cursor: pointer;
  z-index: 20;

	&:hover {
		transform: rotateX(-25deg) rotateY(45deg) translateY(-15px);

		.bottom {
			box-shadow: -22px -22px 30px 0 rgba(0,0,0,.4);
		}

	}

	.plane {
		position: absolute;
		width: $size;
		height: $size;
		top: 0;
		left: 0;
		background: $colorN;
	}

	.bottom {
		transform: rotateX(-90deg) translateZ($size/2);
		background: $colorF;
		box-shadow: -8px -8px 10px 0 rgba(0,0,0,.4);
		transition: all .5s ease-in-out;
	}

	.left {
		transform: rotateY(-90deg) translateZ($size/2);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $colorF;
			transform-origin: 50% 100%;
			animation: fill 4s ease-in-out infinite alternate;
		}

	}

	.right {
		transform: rotateY(90deg) translateZ($size/2);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $colorF;
			transform-origin: 50% 100%;
			animation: fill 4s ease-in-out infinite alternate;
		}

	}

	.back {
		transform: rotateY(180deg) translateZ($size/2);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $colorF;
			transform-origin: 50% 100%;
			animation: fill 4s ease-in-out infinite alternate;
		}

	}

	.front {
		transform: rotateY(0deg) translateZ($size/2);

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $colorF;
			transform-origin: 50% 100%;
			animation: fill 4s ease-in-out infinite alternate;
		}

	}

	.top {
		transform: rotateX(90deg) translateZ($size/2);
		opacity: .5;
	}

	.fill-top {
		background: $colorF;
		animation:
			fill-top 4s ease-in-out infinite alternate,
	}

}


@keyframes fill {
	0%,25% {
		transform: scaleY(0);
	}
	75%, 100% {
		transform: scaleY(1);
	}
}

@keyframes color-bottom {
	0% {
		background: $colorN;
	}
	25%, 100% {
		background: $colorF;
	}
}

@keyframes color-top {
	0%,25% {
		background: $colorN;
	}
	75%, 100% {
		background: $colorF;
	}
}

@keyframes fill-top {
	0%,25% {
		transform: rotateX(90deg) translateZ($size / -2);
	}
	75%, 100% {
		transform: rotateX(90deg) translateZ(($size/2)-1);
	}
}