*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$silver: #eee;
$bg-frame: #777;
$bg: linear-gradient(to bottom, rgb(135, 206, 235) 20%, rgb(220, 20, 60) 90%);

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg-frame;

  &::before {
    content: "DAY 93 - PODLOCK";
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    text-shadow: 0 0 0.5rem #000;
  }

  &::after{
    content: '';
    position: absolute;
    height: 30rem;
    width: 30rem;
    background: none;
    border: .1rem solid $silver;
    box-shadow: 0 0 .8rem #000;
  }
}

.lock {
  position: absolute;
  box-sizing: border-box;
  height: 24rem;
  width: 16rem;
  padding-top: 8rem;
  cursor: pointer;

  &:hover .ring {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

.hanger {
  position: absolute;
  width: 12rem;
  height: 12rem;
  left: 2rem;
  top: 0;
  border-radius: 6rem 6rem 0 0;
  background: $silver;
  box-shadow: inset 4px 4px 1px 0 rgba(255, 255, 255, 0.8),
    inset -3px -2px 1px 0 rgba(0, 0, 0, 0.3), 4px 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.inside {
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 1rem;
  left: 1rem;
  background: $bg-frame;
  border-radius: 50px 50px 0 0;
  box-shadow: 4px 4px 1px 0 rgba(255, 255, 255, 0.8),
    -3px -2px 1px 0 rgba(0, 0, 0, 0.3), inset 4px 8px 12px 0 rgba(0, 0, 0, 0.2);


    &::before{
      content: '';
      position: absolute;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background: linear-gradient(to left, #ddd, #000);
      box-shadow: 0 0 .5 #000;
      top: .5rem;
      left: 43%;
    }
}

.base {
  position: relative;
  width: 16rem;
  height: 16rem;
  background: $silver;
  border-radius: 50%;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2),
    inset 2px 4px 1px 0 rgba(255, 255, 255, 0.8),
    inset -1px -2px 1px 0 rgba(0, 0, 0, 0.3);
}

.ring {
  position: absolute;
  width: 15rem;
  height: 15rem;
  top: .5rem;
  left: .5rem;
  background: $bg;
  border-radius: 50%;
  z-index: 50;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, .8);
  transition: all 1.5s ease-in-out;
}

.line {
  position: absolute;
  width: .2rem;
  height: 1rem;
  background: #ccc;
  top: 7rem;
  left: 7.4rem;

  &:nth-child(5n + 1) {
    width: .2rem;
    height: 1.8rem;
    top: 6.6rem;
    left: 7.4rem;
    background: #fff;
  }

  @for $i from 1 through 40 {
    $nullBase: $i - 1;
    $degree: 360deg / 40 * $nullBase;
    &-#{$i} {
      transform: rotate($degree) translateY(-65px);

      &:nth-child(5n + 1) {
        transform: rotate($degree) translateY(-61px);
      }
    }
  }
}

.number {
  position: absolute;
  width: 2rem;
  height: 1.4rem;
  top: 6.8rem;
  left: 6.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-align: center;
  color: #fff;

  @for $i from 0 through 7 {
    $degree: 360deg / 8 * $i;
    &-#{$i} {
      transform: rotate($degree) translateY(-4rem);
    }
  }
}

.knob {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 5.5rem;
  left: 5.5rem;
  background: #e7ecf0;
  z-index: 55;
  border-radius: 50%;
  box-shadow: inset 2px 4px 1px 0 rgba(255, 255, 255, 0.8),
    inset -1px -2px 1px 0 rgba(0, 0, 0, 0.2);
}
