*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 10px;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$font: "Raleway", Helvetica, sans-serif;
$primarybg: cornflowerblue;
$primarybg-m: rgb(14, 84, 212);
$tcolor: #fff;

body {
  @include flex;
  min-height: 100vh;
  font-family: $font;

  .frame {
    @include flex;
    position: relative;
    width: 38rem;
    height: 38rem;
    background: $primarybg;
    border-radius: 1rem;
    box-shadow: -0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.514),
      0.5rem -0.2rem 1rem rgba(0, 0, 0, 0.582);

    .circle {
      position: absolute;
      z-index: 15;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background: $primarybg-m;
      animation: circle 1s ease-in-out;
      animation-fill-mode: forwards;
    }

    .line {
      position: absolute;
      z-index: 15;
      height: 0.5rem;
      width: 15rem;
      background: $primarybg-m;
      transform: scaleX(0);

      &.left {
        left: 50%;
        transform-origin: 100% 50%;
        animation: lines 1s ease-in-out 0.8s, line-left 1s steps(1) 0.8s;
      }

      &.right {
        right: 50%;
        transform-origin: 0% 50%;
        animation: lines 1s ease-in-out 0.8s, line-right 1s steps(1) 0.8s;
      }
    }

    .bracket {
      position: absolute;
      z-index: 15;
      height: 7rem;
      width: 0.5rem;
      background: $primarybg-m;
      animation: bracket 0.4s ease-out 1.7s;
      animation-fill-mode: both;

      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 2.5rem;
        height: 0.5rem;
        background: $primarybg-m;
      }

      &.left {
        left: 10%;

        &:before {
          top: 0;
          left: 0;
          transform-origin: 0% 50%;
          animation: bracket-line 0.2s ease-out 2.1s;
          animation-fill-mode: both;
        }

        &:after {
          bottom: 0;
          left: 0;
          transform-origin: 0% 50%;
          animation: bracket-line 0.2s ease-out 2.1s;
          animation-fill-mode: both;
        }
      }

      &.right {
        right: 10%;

        &:before {
          top: 0;
          right: 0;
          transform-origin: 100% 50%;
          animation: bracket-line 0.2s ease-out 2.1s;
          animation-fill-mode: both;
        }

        &:after {
          bottom: 0;
          right: 0;
          transform-origin: 100% 50%;
          animation: bracket-line 0.2s ease-out 2.1s;
          animation-fill-mode: both;
        }
      }
    }

    .fas {
      position: absolute;
      font-size: 35rem;
      color: lightskyblue;
      opacity: 0.2;
    }

    .middle {
      position: absolute;
      z-index: 10;
      font-size: 5rem;
      color: $tcolor;
      font-weight: 600;
      text-transform: uppercase;
      transition: 0.5s ease-in-out;
      transform: scaleX(1);
      transform-origin: center;
      animation: show 3s ease-in-out;
    }

    .text {
      position: absolute;
      font-size: 2.5rem;
      z-index: 15;
      color: $tcolor;
      font-weight: 400;
      text-transform: uppercase;

      b {
        color: $primarybg-m;
      }

      &.top {
        top: 34%;
        letter-spacing: 0.5rem;
        animation: text-top 0.5s ease-out 2.2s;
        animation-fill-mode: both;
      }

      &.bottom {
        bottom: 32%;
        animation: text-bottom 0.5s ease-out 2.2s;
        animation-fill-mode: both;
      }
    }

    // Animation for the Circle
    @keyframes circle {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      90%,
      100% {
        transform: scale(0);
      }
    }

    // Animation for the lines
    @keyframes lines {
      0% {
        transform: scaleX(0);
      }
      50% {
        transform: scaleX(1);
      }
      100% {
        transform: scaleX(0);
      }
    }

    @keyframes line-left {
      0% {
        transform-origin: 100% 50%;
      }
      50%,
      100% {
        transform-origin: 0% 50%;
      }
    }

    @keyframes line-right {
      0% {
        transform-origin: 0% 50%;
      }
      50%,
      100% {
        transform-origin: 100% 50%;
      }
    }

    // Animation for the Brackets
    @keyframes bracket {
      0% {
        transform: scaleY(0);
      }
      100% {
        transform: scaleY(1);
      }
    }

    @keyframes bracket-line {
      0% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(1);
      }
    }

    @keyframes show {
      0%,
      60% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(1);
      }
    }

    @keyframes text-top {
      0% {
        transform: translateX(-2rem);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    @keyframes text-bottom {
      0% {
        transform: translateX(2rem);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
