*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$bg: rgb(36, 117, 108);
$main-color: rgb(14, 48, 44);
$t-shadow: 0.1rem 0.1rem 0.3rem #000;
$elements: 10;
$font-s: 2rem;
$h: $font-s * 2;

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: $bg;
  border-radius: 0.5rem;

  &::before {
    position: absolute;
    text-align: center;
    content: "DAY 73 - WORD CAROUSEL";
    color: #fff;
    top: 7rem;
    font-size: 1.5rem;
    white-space: nowrap;
    z-index: 10;
    text-shadow: $t-shadow;
  }

  &::after {
    position: absolute;
    content: "";
    @include center;
    height: 30rem;
    width: 30rem;
    background-color: #c5c5c5;
    border: 0.2rem solid $main-color;
    box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
      0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  }
}

.title {
  position: absolute;
  flex-direction: column;
  z-index: 10;
  top: 16rem;
  color: $main-color;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(255, 255, 255, 0.8);
}

.carousel {
  position: absolute;
  font-size: $font-s;
  top: 20rem;
  width: 30rem;
  height: $h;
  line-height: $h;
  z-index: 2;
}

.pre {
  position: absolute;
  color: $main-color;
  font-size: $font-s;
  left: 3rem;
  height: $h;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(255, 255, 255, 0.8);
}

.outer {
  position: absolute;
  left: 12rem;
  color: #fff;
  text-align: left;
  height: $h;
  overflow: hidden;
  border-bottom: 0.5rem solid $main-color;
}

.inner {
  position: relative;
  animation: rotate 20s ease-in-out infinite;
}

.element {
  display: block;
  font-weight: 700;
  text-shadow: $t-shadow;
}

@keyframes rotate {
  0% {
    transform: translateY(0);
  }
  @for $x from 1 through 8 {
    $next: ($x * 10);
    $init: 2rem;
    #{$next}% {
      transform: translateY($init * $x * -2);
    }
  }
  100% {
    transform: translateY(2rem * -18);
  }
}