*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

$bg-color: rgb(60, 16, 83);
$e-color: rgba(255, 141, 249, 0.8);

body{
    @include center;
    min-height: 100vh;
}

.frame{
    @include center;
    position: relative;
    height: 40rem;
    width: 40rem;
    background: $bg-color;
    overflow: hidden;
    border-radius: 1rem;

    &::before {
        position: absolute;
        text-align: center;
        content: "DAY 66 - CHECKBOX | MENU BUTTON";
        color: #fff;
        top: 2rem;
        font-size: 1.5rem;
        z-index: 10;
        white-space: nowrap;
        text-shadow: 0.1rem 0.1rem 0.3rem #000;
      }
    
      &::after {
        position: absolute;
        content: "";
        @include center;
        height: 30rem;
        width: 30rem;
        background-color: #c5c5c534;
        border: 0.2rem solid $e-color;
        box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
          0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
      }
}

.wrapper{
    position: absolute;
    @include center;
    width: 30rem;
    height: 30rem;
}

.ellipse{
    position: absolute;
    width: 5rem;
    height: 20rem;
    border: 0.1rem solid $e-color;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

$noOfEllipses: 18;

@for $i from 1 through $noOfEllipses{
    $x: $i - 1;
    $degree: (180 / $noOfEllipses) * $x;
    .ellipse-#{$i}{
        animation: rotate-#{$i} 5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    }

    @keyframes rotate-#{$i} {
		0% {
			transform: rotate($degree + deg );
			border-radius: 50%;
			border-width: 0.1rem;
		}
		50% {
			transform: rotate(0) scaleX(5 * 0.6);
			border-radius: 0%;
		}

		100% {
			transform: rotate( ((-1 * $degree) + 360)+deg );
			border-radius: 50%;
			border-width: 0.1rem;
		}
	}
}