*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: rgb(240, 128, 128);
  border-radius: 0.5rem;

    &::before{
      position: absolute;
      content: 'DAY 2 - MENU BUTTON';
      text-align: center;
      color: #fff;
      top: 2rem;
      width: 100%;
      font-size: 1.5rem;
      white-space: nowrap;
      z-index: 10;
      text-shadow: 0 0 .3rem #000;
    }

  &::after {
    position: absolute;
    content: "";
    height: 30rem;
    width: 30rem;
    background: rgb(240, 128, 128);
    border: 0.2rem solid rgb(192, 192, 192);
    box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
      0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}

.wrapper {
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 12rem;
  height: 1rem;
  background: rgb(219, 219, 219);
  transition: 0.3s;
  margin: 1.5rem 0;
  border-radius: 3rem;
}

.active .line1 {
  transform: rotate(-405deg) translate(-2rem, 1rem);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  transform: rotate(405deg) translate(-2rem, -2rem);
}
