*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  @include center;
  min-height: 100vh;
}

%bg-frame{
  height: 25rem;
  width: 15rem;
  border-radius: 0.3rem;
}

.frame {
  position: relative;
  @include center;
  height: 40rem;
  width: 40rem;
  background: teal;
  border-radius: 1rem;

  &::before{
    position: absolute;
    content: '';
    @include center;
    @extend %bg-frame;
    background: rgba(218, 246, 255, 0.212);
    z-index: 2;
  }

  &::after{
    position: absolute;
    content: '';
    @include center;
    @extend %bg-frame;
    transform: rotate(-8deg);
    background: rgb(0, 66, 66);
    z-index: 1;
  }
}

%load-set {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border-width: 0.8rem;
  filter: contrast(3);
  mix-blend-mode: hue;
}

.load {
  position: absolute;
  @include center;
  @extend %load-set;
  border-style: solid;
  z-index: 10;
  border-color: rgb(126, 1, 21) red transparent transparent;
  animation: rotate 3s cubic-bezier(0, 0.15, 1, 0.85) infinite;

  &::after {
    position: absolute;
    content: "";
    @extend %load-set;
    border-style: dashed;
    border-color: transparent transparent red rgb(126, 1, 21);
    animation: rotate 3s cubic-bezier(0, 0.15, 1, 0.85) infinite;

  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}